header {
    button {
        background: none;
        border: 2px solid var(--accent);
        color: var(--txt);
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;

        &.active {
            background-color: var(--accent);
        }

        &:hover {
            background-color: rgba(var(--accentRGB), 0.9);
        }
    }
}