header {
    button {
        background: transparent;
        border: 1px solid var(--item-border);
        color: var(--txt);
        border-radius: var(--border-radius);
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s;
        font-weight: 500;

        &.active {
            background-color: var(--accent);
            border-color: var(--accent);
            color: #fff;
        }

        &:hover:not(.active) {
            background-color: var(--item-back);
        }
    }
}