#settings-panel {
    background-color: var(--back);
    overflow-y: scroll;
    height: calc(100vh - 2rem);
    width: calc(100vw - 200px);
    padding: 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        background-color: var(--item-back);
        border: 1px solid var(--item-border);
        color: var(--txt);
        border-radius: 4px;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .source-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background-color: var(--item-back);
        border: 1px solid var(--item-border);
        border-radius: 4px;
        margin-bottom: 0.5rem;

        .actions {
            display: flex;
            gap: 0.5rem;
        }
    }
}
